# =========================
# Python Virtual Environment
# =========================
traffic/
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# =========================
# Node / NPM
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build files
dist/
build/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# ML / Data
# =========================
*.csv
*.parquet
*.zip
*.pkl
*.joblib
*.pt
*.pth
*.onnx
*.h5
*.keras

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db